.row{
  background-color: rgb(112, 185, 185);
  margin-top: 111px;
  margin-left: 130px;
  margin-right: 130px;
}
.btn{
  background-color: #4CAF50; /* Green */
  margin-left: 3rem;
  margin-top: -0.1rem;
  padding: .75rem .75rem;
  box-shadow: 5px 5px 5px black;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
